{{!-- The footer at the very bottom of the screen --}}
<footer class="footer section-padding">
  <div class="grid">
    {{!-- Subscribe --}}
    {{#if @labs.subscribers}}
      <div class="subscribe" id="subscribe">
        <div class="subscribe__container">
          <span class="subscribe__title">Subscribe</span>
          <p class="subscribe__text">Get a weekly email of posts I’ve added to the site.</p>
          {{subscribe_form 
            button_class="subscribe__submit"
            placeholder="Email Address"
          }}
        </div>
      </div>

      <hr class="sep"/>
    {{/if}}

    {{!-- Footer --}}
    <div class="footer__container">
      <p class="footer__text">New posts added every few days.</p>
    </div>
  </div>
</footer>

{{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

{{#if pagination.pages}}
  <script>
    var maxPages = parseInt('{{pagination.pages}}');
  </script>
  <script src="{{asset "js/infinitescroll.js"}}"></script>
{{/if}}

<script type="text/javascript" src="{{asset "js/app.min.js"}}"></script>

{{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
{{{block "scripts"}}}

{{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
{{ghost_foot}}
