<!DOCTYPE html>
<html ⚡>
<head>
  {{!-- Document Settings --}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  {{!-- Page Meta --}}
  <title>{{meta_title}}</title>

  {{!-- Brand icon --}}
  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  {{amp_ghost_head}}

  {{!-- Styles'n'Scripts --}}
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:400,700">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style amp-custom>
    {{!-- All CSS styles have to go here and are strictly forbidden anywhere else in the template --}}
    {{> styles-amp}}
  </style>

  {{!-- The AMP boilerplate --}}
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  {{!-- amp_components helper renders the necessary script tags for AMP depending on the HTML in the content --}}
  {{amp_components}}

</head>

<body class="amp-template">
  <header class="header-amp">
    <div class="grid-small">
      <div class="header-amp__container">
        <a class="header__title" href="{{@blog.url}}">{{@blog.title}}</a>

        {{navigation}}
      </div>
    </div>
  </header>

  <main class="💈">
    {{#post}}
      <section class="post grid-small">
        <div>

          <div class="post__header section-padding--half">
            <div>
              <h2>{{title}}</h2>

              <time class="post__date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
            </div>
          </div>

          {{#if feature_image}}
            <figure class="post__amp-img">
                <amp-img src="{{img_url feature_image absolute="true"}}" width="600" height="400" layout="responsive"></amp-img>
            </figure>
          {{/if}}

          <div class="post__content section-padding--half">
            <div>
              {{amp_content}}

              {{> share}}
            </div>
          </div>

          {{!-- Everything inside the #author tags pulls data from the author --}}
          {{#author}}
            <div class="section-padding--none">
              <div>
                <hr class="sep"/>
              </div>
            </div>

            <div class="section-padding--half">
              <div>
                <span class="post__author">Posted by <a href="{{url}}" title="More By {{name}}">{{name}}</a></span>
                {{#if bio}}
                  <p class="post__bio">{{bio}}</p>
                {{/if}}
              </div>
            </div>
          {{/author}}
        </div>
      </section>
    {{/post}}
  </main>

  <footer class="footer-amp">
    <div class="footer-amp__container section-padding--half grid-small">
      {{#get "tags" limit="5" order="count.posts DESC"}}
        {{#if tags}}
          <ul class="footer-amp__tags">
            {{#foreach tags}}
              <li>
                <a class="footer-amp__link" href="{{url}}">{{name}}</a>
              </li>
            {{/foreach}}
          </ul>
        {{/if}}
      {{/get}}

      {{> social}}
    </div>
  </footer>
</body>
</html>
