{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<section class="post {{post_class}}">
  <article>
    <div class="post__header section-padding">
      <div class="grid-small">
        <h2>{{title}}</h2>

        <time class="post__date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
      </div>
    </div>

    {{#if feature_image}}
      <div class="post__img">
        <div>
          <figure class="absolute-bg" style="background-image: url('{{feature_image}}');"></figure>
        </div>
      </div>
    {{/if}}

    <div class="post__content section-padding">
      <div class="grid-small">
        {{content}}

        <ul class="post__social">
          <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_blank"><i class="icon-facebook"></i></a></li>
          <li><a href="https://twitter.com/intent/tweet?&text={{title}}+{{url absolute="true"}}{{#author}}+by+{{#if twitter}}{{twitter}}{{else}}{{name}}{{/if}}{{/author}}" target="_blank"><i class="icon-twitter"></i></a></li>
          <li><a href="https://plus.google.com/share?url={{url absolute="true"}}" target="_blank"><i class="icon-google-plus"></i></a></li>
          <li><a href="https://www.linkedin.com/shareArticle?mini=true&source={{title}}&summary={{meta_description}}&url={{url}}" target="_blank"><i class="icon-linkedin"></i></a></li>
          <li><a href="https://www.stumbleupon.com/badge/?url={{url absolute="true"}}" target="_blank"><i class="icon-stumbleupon"></i></a></li>
          <li><a href="https://www.reddit.com/submit?url={{url absolute="true"}}" target="_blank"><i class="icon-reddit-alien"></i></a></li>
          <li><a href="https://www.tumblr.com/share/link?url={{url absolute="true"}}" target="_blank"><i class="icon-tumblr"></i></a></li>
          <li><a href="https://www.pinterest.com/pin/create/link/?description={{meta_description}}&media={{feature_image}}&url={{url absolute="true"}}" target="_blank"><i class="icon-pinterest"></i></a></li>
        </ul>
      </div>
    </div>

    {{!-- Everything inside the #author tags pulls data from the author --}}
    {{#author}}
      <div class="section-padding--none">
        <div class="grid">
          <hr class="sep"/>
        </div>
      </div>

      <div class="section-padding">
        <div class="grid-small">
          <span class="post__author">Posted by <a href="{{url}}" title="More By {{name}}">{{name}}</a></span>
          {{#if bio}}
            <p class="post__bio">{{bio}}</p>
          {{/if}}
        </div>
      </div>
    {{/author}}

    {{> disqus}}

  </article>
</section>

{{!-- Links to Previous/Next posts --}}
{{#if primary_tag}}
  {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3"}}
    {{#if posts}}
      <section class="related section-padding">
        <div class="grid-xlarge">
          <h2 class="related__title">Related</h2>
          <div class="related__container"> 
            {{#foreach posts}}
              <article class="related__post">
                <a class="related__link" href="{{url}}">
                  {{#if feature_image}}
                    <figure class="related__img">
                      <img src="{{feature_image}}"/>
                    </figure>
                  {{/if}}
                  <div class="related__content">
                    <p class="related__text">{{title}}</p>
                  </div>
                </a>
              </article>
            {{/foreach}}
          </div>
        </div>
      </section>
    {{/if}}
  {{/get}}
{{/if}}

{{/post}}
