{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<section class="post section-padding {{post_class}}">
  <div class="grid-small">
    <article class="post__container">
      <header class="post__header">
        <time class="post__date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>

        {{!-- Everything inside the #author tags pulls data from the author --}}
        {{#author}}
          <span class="post__author">{{name}}</span>
        {{/author}}

        <h1>{{title}}</h1>
      </header>

      {{#if feature_image}}
        <figure class="post__img">
          <img src="{{feature_image}}"/>
        </figure>
      {{/if}}

      <section class="post__content">
        {{content}}
      </section>

      {{!--

      If you use Disqus comments, just uncomment this block.
      The only thing you need to change is "test-apkdzgmqhj" - which
      should be replaced with your own Disqus site-id.

      <section class="post__comments">
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
            this.page.url = '{{url absolute="true"}}';
            this.page.identifier = 'ghost-{{comment_id}}';
          };
          (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://test-apkdzgmqhj.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
      </section>
      --}}

    </article>

  </div>
</section>

{{!-- Links to Previous/Next posts --}}
<section class="related section-padding">
  <div class="grid-xlarge">
    <h2 class="related__title">Related</h2>
    <div class="related__container">
      {{#if primary_tag}}
        {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3"}}
          {{#if posts}}
            {{#foreach posts}}
              <article class="related__post">
                <a class="related__link" href="{{url}}">
                  {{#if feature_image}}
                    <figure class="related__img">
                      <img src="{{feature_image}}"/>
                    </figure>
                  {{/if}}
                  <div class="related__content">
                    <p class="related__text">{{title}}</p>
                  </div>
                </a>
              </article>
            {{/foreach}}
          {{/if}}
        {{/get}}
      {{/if}}
    </div>
  </div>
</section>

{{/post}}
